{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/favicon-profile-180.png"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-profile-32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-profile-192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="{{ base_path }}/images/favicon-profile.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- Privacy-friendly site analytics -->
<script data-goatcounter="https://gaoyangluo.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>

<!-- end custom head snippets -->
